@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: "Anton", sans-serif;
}

/*nav*/
/*utlizados en home en la clase.background-overlay */
.bg__home {
  background-color: rgb(245, 245, 245);
}

.bg-col {
  background: #000;
  box-shadow: 2px 2px 5px #002;
}

.nav-a {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 20px;
  font-weight: var(--bs-nav-link-font-weight);
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.5s;
}
@media only screen and (max-width: 980px) {
  .nav-a {
    font-size: 20px;
  }
}
.nav-a:hover {
  color: #ff7504;
}

#button {
  background-color: #f75f07;
}

/*header*/
.main-header {
  background: url(../multimedia/imagenes/backgroud.jpg);
  background-size: cover;
  min-height: auto;
  /*MAPS GET*/
}
.main-header .location-fa i {
  position: fixed;
  font-size: 50px;
  color: rgba(71, 78, 85, 0.7);
  transition: 0.2;
}
.main-header .location-fa i:hover {
  color: #000;
}
.main-header .background-overlay {
  background: rgba(255, 159, 67, 0.4);
  min-height: 600px;
  box-shadow: 2px 2px 5px rgba(255, 159, 67, 0.4);
}
.main-header .container__animation {
  animation: photoText 4s 1;
}
@keyframes photoText {
  0% {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0.9;
  }
}
.main-header .h1__bg {
  color: #000;
}
.main-header .video__header {
  width: 500px;
  border-radius: 10%;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px 10px #000;
  animation: photoBiker 4s 1;
}
@keyframes photoBiker {
  0% {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0.9;
  }
}

.img__nav {
  width: 70px;
  height: 70px;
}

.carousel-inner .img__carousel {
  width: 700px;
  height: 450px;
}

.container__1 {
  padding: 0;
}
.container__1 .video2__container {
  background: linear-gradient(to bottom, #000, transparent);
}
.container__1 .img1__container {
  background: linear-gradient(to bottom, #000, transparent);
}

.container__2 {
  background: linear-gradient(to left, rgb(95, 94, 94), transparent);
}

/*animation*/
.container-animation {
  background-color: #000;
  display: flex;
  width: 100%;
  align-items: center;
}

svg {
  display: block;
  font: 10em "Montserrat";
  width: 100%;
  height: 200px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #ff6600;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #ff7300;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #aa4604;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #962f00;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #f87801;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
/*noticas*/ /*utizado el seccion noticias.html .article1,2,3,4,5*/
.container__gird .article__5, .container__gird .article__4, .container__gird .article__3, .container__gird .article__2 {
  border: 1px solid #000;
  border-radius: 2%;
}

.h1__noticia {
  text-align: center;
  padding: 30px;
  font-size: 80px;
  color: #f75f07;
  background: #000;
}

.bg__noticias {
  background-image: linear-gradient(#000, #555, #777);
}

.container__gird {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1000px);
}
@media only screen and (max-width: 500px) {
  .container__gird {
    display: block;
  }
}
.container__gird .article__1 {
  grid-row: 1/2;
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background: #fff;
}
.container__gird .article__1 .article__p1 {
  font-size: 1em;
  margin: 10px;
}
.container__gird .article__1 .img__article-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000;
}
.container__gird .article__2 {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 30px;
  background: #fff;
}
.container__gird .article__2 .article__p2 {
  font-size: 1em;
  margin: 10px;
}
.container__gird .article__2 .img__article-2 {
  width: 60%;
  height: 50%;
  object-fit: cover;
  border: 3px solid #000;
}
.container__gird .article__3 {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 30px;
  background: #fff;
}
.container__gird .article__3 .article__p3 {
  font-size: 1em;
  margin: 10px;
}
.container__gird .article__3 .img__article-3 {
  width: 70%;
  height: 50%;
  object-fit: cover;
  border: 3px solid #000;
}
.container__gird .article__4 {
  grid-row: 4/5;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 30px;
  background: #fff;
}
.container__gird .article__4 .article__p4 {
  color: #772121;
  font-size: 1.7em;
}
.container__gird .article__4 .img__article-4 {
  width: 90%;
  height: 50%;
  object-fit: cover;
  border: 3px solid #000;
}
.container__gird .article__5 {
  grid-row: 2/4;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  background: #fff;
}
.container__gird .article__p5 {
  font-size: 2em;
  margin: 10px;
}
.container__gird .img__article-5 {
  width: 90%;
  height: 70%;
  object-fit: cover;
  border: 1px solid #000;
}

/*MODELOSS*/ /*utilizado en modelos.html en las clases .backg-img */
.carousel__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 500px) {
  .carousel__content .responsive_img {
    width: 100%;
  }
}

.backg-img {
  background: url(../multimedia/imagenes/1366_2000.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #000;
}

.background-overlay-1 {
  background: rgba(0, 0, 0, 0.706);
  height: 550px;
}
.background-overlay-1 .article__naked {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}
@media only screen and (max-width: 500px) {
  .background-overlay-1 .article__naked {
    display: block;
  }
}
.background-overlay-1 .article__naked .article__naked-h2 {
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 10vw;
  grid-column: 1/3;
  grid-row: 1/2;
}
.background-overlay-1 .article__naked .article__naked-p {
  color: #fff;
  text-align: center;
  font-size: 1.9vw;
  grid-column: 3/5;
  grid-row: 1/4;
}
@media only screen and (max-width: 500px) {
  .background-overlay-1 .article__naked .article__naked-p {
    font-size: 4vw;
  }
}
.background-overlay-1 .article__naked .article__naked-iframe {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  border-bottom: 3px solid #f75f07;
}

.backg-img_2 {
  background: url(../multimedia/imagenes/ktmadventure.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #000;
}
.backg-img_2 .background-overlay-2 {
  background: rgba(110, 68, 6, 0.7);
}
.backg-img_2 .background-overlay-2 .article__adventure {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.backg-img_2 .background-overlay-2 .article__adventure .article__adventure-h2 {
  background-color: #000;
  text-align: center;
  font-size: 10vw;
  color: rgba(255, 153, 0, 0.7);
  grid-column: 1/5;
  grid-row: 1/2;
}
.backg-img_2 .background-overlay-2 .article__adventure .article__adventure-p {
  color: #fff;
  font-size: 1.9vw;
  padding: 10px;
  grid-column: 1/3;
  grid-row: 2/5;
}
@media only screen and (max-width: 500px) {
  .backg-img_2 .background-overlay-2 .article__adventure .article__adventure-p {
    font-size: 4vw;
  }
}
.backg-img_2 .background-overlay-2 .article__adventure .article__adventure-iframe {
  width: 100%;
  border-bottom: 3px solid #f75f07;
  grid-column: 3/5;
  grid-row: 2/5;
}

.backg-img_3 {
  background: url(../multimedia/imagenes/ktmsuperspot.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #000;
}
.backg-img_3 .background-overlay-3 {
  background: rgba(240, 130, 5, 0.705);
}
.backg-img_3 .background-overlay-3 .article__supersport {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 100px;
}
.backg-img_3 .background-overlay-3 .article__supersport .article__supersport-h2 {
  color: hsl(24deg, 100%, 50%);
  background-color: #000;
  text-align: center;
  font-size: 10vw;
  grid-column: 1/3;
  grid-row: 1/2;
}
.backg-img_3 .background-overlay-3 .article__supersport .article__supersport-p {
  color: #fff;
  font-size: 1.9vw;
  padding: 10px;
  grid-column: 1/3;
  grid-row: 2/4;
}
@media only screen and (max-width: 500px) {
  .backg-img_3 .background-overlay-3 .article__supersport .article__supersport-p {
    font-size: 3vw;
  }
}
.backg-img_3 .background-overlay-3 .article__supersport .article__supersport-iframe {
  width: 100%;
  border-bottom: 3px solid #f75f07;
  grid-column: 3/5;
  grid-row: 1/3;
}

.backg-img_4 {
  background: url(../multimedia/imagenes/croosfull.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #000;
}
.backg-img_4 .background-overlay-4 {
  background: rgba(5, 21, 240, 0.705);
}
.backg-img_4 .background-overlay-4 .article__enduro {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}
.backg-img_4 .background-overlay-4 .article__enduro .article__enduro-h2 {
  color: hwb(241 0% 0%);
  background-color: #000;
  text-align: center;
  font-size: 10vw;
  grid-column: 1/3;
  grid-row: 1/2;
}
.backg-img_4 .background-overlay-4 .article__enduro .article__enduro-p {
  color: #fff;
  font-size: 1.9vw;
  padding: 10px;
  grid-column: 3/5;
  grid-row: 1/5;
}
@media only screen and (max-width: 500px) {
  .backg-img_4 .background-overlay-4 .article__enduro .article__enduro-p {
    font-size: 4vw;
  }
}
.backg-img_4 .background-overlay-4 .article__enduro .article__enduro-iframe {
  width: 100%;
  border-bottom: 3px solid #f75f07;
  grid-column: 1/3;
  grid-row: 2/4;
}

/*ACCESORIOS*/
.bg-accesorios {
  background: linear-gradient(to top, #000, #555);
}

.bg-orange {
  background: #ff7c01;
}

.p__footer {
  font-size: 1vw;
  text-align: center;
  padding: 1em;
  margin-top: 30px;
  border-top: 2px dotted #615f5e;
  color: #505050;
}

.bg-color {
  background-color: black;
  border-top: 2px solid rgb(252, 104, 5);
}
.bg-color .footer__ul-redes {
  list-style: none;
  font-size: 3em;
  color: #fff;
  border-right: 1px solid #fff;
}
.bg-color .footer__ul-redes .footer__li-redes a {
  font-size: 0.4em;
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
}
.bg-color .footer__ul-redes .footer__li-redes a:hover {
  color: rgb(253, 115, 2);
}
.bg-color .footer__ul-location {
  list-style: none;
  font-size: 3em;
  color: #fff;
}
.bg-color .footer__ul-location .footer__li-location a {
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
