footer{
    border: 2px solid #f75f07;
    margin-top: 30px;
    .p-footer{
        color: #f75f07;
        font-size: 2.5vw;
    }
    .text-decoration{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        &:hover{
            color: #f75f07;
        }
        .text-decoration i{
            font-size: 2vw;  
        }
    }
}
