.p__footer{
    font-size: 1vw;
    text-align: center;
    padding: 1em;
    margin-top: 30px;
    border-top: 2px dotted #615f5e;
    color: #505050; 
}
.bg-color{
    background-color: black;
    border-top: 2px solid rgb(252, 104, 5);
    .footer__ul-redes{
        list-style: none;
        font-size: 3em;
        color: #fff;
        border-right: 1px solid #fff;

        .footer__li-redes a{
            font-size: .4em;
            color: rgba(255, 255, 255, 0.747);
            text-decoration: none;
            &:hover{
                color: rgb(253, 115, 2);
            }
        }
    }
    .footer__ul-location{
        list-style: none;
        font-size: 3em;
        color: #fff;
        .footer__li-location a{
            font-size:.5em;
            color: rgba(255, 255, 255, 0.747);
            text-decoration: none;

        }
}

}