
/*nav*/

@import '../base/mapas';

    .bg-col{
        background:#000;
        box-shadow: 2px 2px 5px #002;
    }
    .nav-a{
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: 20px;
        font-weight: var(--bs-nav-link-font-weight);
        color: #fff;
        text-decoration: none;
        margin-left: 30px;
        transition:.5s;
        @media only screen and(max-width:980px){
                font-size: 20px;
        }
        &:hover{
            color: #ff7504;
        }
}
#button {
    background-color: #f75f07;
}
.img__nav{
    width:70px;
    height: 70px;

}
/*header*/
.main-header{
    background: url(../multimedia/imagenes/backgroud.jpg);
    background-size:cover;
    min-height: 600px;
    .location-fa i{
        position:fixed;
        font-size: 50px;
        color:rgba(71, 78, 85, 0.7);
        transition: .2;
        &:hover{
            color: #000;
        }
     }
     /*MAPS GET*/
    .background-overlay{
        background:map-get($standard , bg-standard);
        min-height: 600px;
        box-shadow: map-get($standard , bx-shadow);
                 
    }
    .container__animation{
        animation:photoText 4s 1;
        @keyframes photoText{
            0%{
                transform:translateX(-100%);
                opacity: .1;
             }            

             100%{
                transform:translateX(0%);
                opacity: .9;
             }
         }
    }
    .h1__bg{
        color: #000;
    }
    .img__header{
         width:500px;
         border-radius: 10%;
         border:2px solid #000;
         animation:photoBiker 4s 1;
         @keyframes photoBiker{
            0%{
                transform:translateX(-100%);
                opacity: .1;
             }            

             100%{
                transform:translateX(0%);
                opacity: .9;
             }
         }
    }
}
/*contenido*/
.title__h2{
    text-align: center;
    width: 100%;
    margin: 10px 0 40px 0;
    background-color:#000000d5;
    .title__h2-container{
        box-sizing: border-box;
        color:  #f75f07;
        font-size:3vw;
        width: 100%;
        padding: 10px;
    }
}

.carousel-inner{
    .img__carousel{
        width: 700px;
        height: 500px;
    }
}