
/*nav*/

@import '../base/mapas';


.bg__home{
       background-color: rgb(245, 245, 245);
}
.bg-col{
    background:#000;
    box-shadow: 2px 2px 5px #000;
}
.nav-a{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 20px;
    font-weight: var(--bs-nav-link-font-weight);
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    transition:.5s;
    @media only screen and(max-width:980px){
            font-size: 20px;
    }
    &:hover{
        color: #ff7504;
    }
}
#button {
background-color: #f75f07;
}

/*header*/
.main-header{
background: url(../multimedia/imagenes/backgroud.jpg);
background-size:cover;
min-height: auto;
.location-fa i{
    position:fixed;
    font-size: 50px;
    color:rgba(71, 78, 85, 0.7);
    transition: .2;
    &:hover{
        color: #000;
    }
 }
 /*MAPS GET*/
.background-overlay{
    background:map-get($standard , bg-standard);
    min-height: 600px;
    box-shadow: map-get($standard , bx-shadow);
             
}
.container__animation{
    animation:photoText 4s 1;
    @keyframes photoText{
        0%{
            transform:translateX(-100%);
            opacity: .1;
         }            

         100%{
            transform:translateX(0%);
            opacity: .9;
         }
     }
}
.h1__bg{
    color: #000;
}
.video__header{
     width:500px;
     border-radius: 10%;
     border:2px solid #000;
     box-shadow: 5px 5px 10px 10px #000;
     animation:photoBiker 4s 1;
     @keyframes photoBiker{
        0%{
            transform:translateX(-100%);
            opacity: .1;
         }            

         100%{
            transform:translateX(0%);
            opacity: .9;
         }
     }
}

}
.img__nav{
    width:70px;
    height: 70px;
}


.carousel-inner{
    .img__carousel{
        width: 700px;
        height: 450px;
    }
}
.container__1{
    padding: 0;
   .video2__container{
    background:linear-gradient(to bottom,#000, transparent );
   } 
   .img1__container{
    background:linear-gradient(to bottom,#000, transparent );
   }

}
.container__2{
    background:linear-gradient(to left,rgb(214, 209, 209), transparent );
    box-shadow: 2px 2px 2px 7px #000;

}
/*animation*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container-animation {
  background-color: #000;
  display: flex;
  width: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 10em 'Montserrat';
    width: 100%;
    height: 200px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ff6600;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #ff7300;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #aa4604;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #962f00;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #f87801;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}