$standard:(
    bg-standard: rgba(255, 159, 67,.4),
    bx-shadow: 2px 2px 5px rgba(255, 159, 67,.4),
);
$premium:(
    bg-standard: rgba(255, 215, 0, .7),
    bx-shadow: 2px 2px 5px rgb(251, 255, 0),
);